In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
sns.set_theme()
import warnings
warnings.filterwarnings('ignore')

In [30]:
prev_df = pd.read_csv("home-credit-default-risk\previous_application.csv")
prev_df

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

In [31]:
prev_df.duplicated().sum()

0

In [32]:
def check_missed_values(df):
    df_null_percentage = df.isnull().sum() / df.shape[0] * 100
    df_null_percentage = df_null_percentage.drop(df_null_percentage[df_null_percentage == 0].index).sort_values(ascending= False).reset_index()
    df_null_percentage.columns = ["Feature", "Percentage"]
    return df_null_percentage

null_df = check_missed_values(prev_df)
null_df

                      Feature  Percentage
0       RATE_INTEREST_PRIMARY   99.643698
1    RATE_INTEREST_PRIVILEGED   99.643698
2            AMT_DOWN_PAYMENT   53.636480
3           RATE_DOWN_PAYMENT   53.636480
4             NAME_TYPE_SUITE   49.119754
5          DAYS_FIRST_DRAWING   40.298129
6              DAYS_FIRST_DUE   40.298129
7   DAYS_LAST_DUE_1ST_VERSION   40.298129
8               DAYS_LAST_DUE   40.298129
9            DAYS_TERMINATION   40.298129
10  NFLAG_INSURED_ON_APPROVAL   40.298129
11            AMT_GOODS_PRICE   23.081773
12                AMT_ANNUITY   22.286665
13                CNT_PAYMENT   22.286366
14        PRODUCT_COMBINATION    0.020716
15                 AMT_CREDIT    0.000060

In [33]:
prev_df.drop(labels=["RATE_INTEREST_PRIMARY", "RATE_INTEREST_PRIVILEGED"],axis=1, inplace= True)

In [34]:
prev_df['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace=True)
prev_df['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace=True)
prev_df['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace=True)
prev_df['DAYS_LAST_DUE'].replace(365243, np.nan, inplace=True)
prev_df['DAYS_TERMINATION'].replace(365243, np.nan, inplace=True)
prev_df['FLAG_LAST_APPL_PER_CONTRACT'], _ = pd.factorize(prev_df['FLAG_LAST_APPL_PER_CONTRACT'])

In [35]:
check_missed_values(prev_df)

                      Feature  Percentage
0          DAYS_FIRST_DRAWING   96.245691
1            DAYS_TERMINATION   53.824121
2            AMT_DOWN_PAYMENT   53.636480
3           RATE_DOWN_PAYMENT   53.636480
4               DAYS_LAST_DUE   52.944473
5             NAME_TYPE_SUITE   49.119754
6   DAYS_LAST_DUE_1ST_VERSION   45.918008
7              DAYS_FIRST_DUE   42.731650
8   NFLAG_INSURED_ON_APPROVAL   40.298129
9             AMT_GOODS_PRICE   23.081773
10                AMT_ANNUITY   22.286665
11                CNT_PAYMENT   22.286366
12        PRODUCT_COMBINATION    0.020716
13                 AMT_CREDIT    0.000060

In [36]:
prev_df.drop(labels=["DAYS_FIRST_DRAWING"],axis=1, inplace= True)
prev_df["AMT_CREDIT"].fillna(0, inplace= True)
prev_df["PRODUCT_COMBINATION"].fillna(prev_df["PRODUCT_COMBINATION"].mode()[0],inplace= True)
prev_df["AMT_GOODS_PRICE"].fillna(0, inplace= True)
prev_df["NFLAG_INSURED_ON_APPROVAL"].fillna(0, inplace= True)

In [37]:
check_missed_values(prev_df)

                     Feature  Percentage
0           DAYS_TERMINATION   53.824121
1           AMT_DOWN_PAYMENT   53.636480
2          RATE_DOWN_PAYMENT   53.636480
3              DAYS_LAST_DUE   52.944473
4            NAME_TYPE_SUITE   49.119754
5  DAYS_LAST_DUE_1ST_VERSION   45.918008
6             DAYS_FIRST_DUE   42.731650
7                AMT_ANNUITY   22.286665
8                CNT_PAYMENT   22.286366

In [38]:
# tạo feature INTEREST, INTEREST_RATE
prev_df['INTEREST'] = prev_df['CNT_PAYMENT'] * prev_df['AMT_ANNUITY'] - prev_df['AMT_CREDIT']
prev_df['INTEREST_RATE'] =  (prev_df['INTEREST']/(prev_df['AMT_CREDIT'] - 1) / (prev_df['CNT_PAYMENT'] + 1))

In [46]:
# tạo features flag
prev_df['IS_APPROVED_FLAG'] = (prev_df['NAME_CONTRACT_STATUS'] == 'Approved').astype('float')
prev_df['IS_REFUSED_FLAG'] = (prev_df['NAME_CONTRACT_STATUS'] == 'Refused').astype('float')

prev_df['IS_CONS_LOAN_FLAG'] = (prev_df['NAME_CONTRACT_TYPE'] == 'Consumer loans').astype('float')
prev_df['IS_CASH_LOAN_FLAG'] = (prev_df['NAME_CONTRACT_TYPE'] == 'Cash loans').astype('float')
prev_df['IS_REVOL_LOAN_FLAG'] = (prev_df['NAME_CONTRACT_TYPE'] == 'Revolving loans').astype('float')
prev_df['IS_POS_PORTFOLIO_FLAG_COUNT'] = prev_df['NAME_PORTFOLIO'].apply(lambda x: 1 if x== "Cash" else 0)
prev_df['IS_CASH_PORTFOLIO_FLAG_COUNT'] = prev_df['NAME_PORTFOLIO'].apply(lambda x: 1 if x== "POS" else 0)

In [47]:
prev_df

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,INTEREST,INTEREST_RATE,IS_APPROVED_FLAG,IS_REFUSED_FLAG,IS_CONS_LOAN_FLAG,IS_CASH_LOAN_FLAG,IS_REVOL_LOAN_FLAG,IS_POS_PORTFOLIO_FLAG_COUNT,PREV_IS_CASH_PORTFOLIO_FLAG_COUNT,IS_CASH_PORTFOLIO_FLAG_COUNT
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,3620.16,0.016243,1.0,0.0,1.0,0.0,0.0,0,1,1
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,227119.14,0.009031,1.0,0.0,0.0,1.0,0.0,1,0,0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,44284.32,0.024966,1.0,0.0,0.0,1.0,0.0,1,0,0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,93706.02,0.015311,1.0,0.0,0.0,1.0,0.0,1,0,0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,362130.48,0.035850,0.0,1.0,0.0,1.0,0.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,129728.70,0.013439,1.0,0.0,1.0,0.0,0.0,0,1,1
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,15172.74,0.018154,1.0,0.0,1.0,0.0,0.0,0,1,1
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,12685.05,0.011248,1.0,0.0,1.0,0.0,0.0,0,1,1
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,33978.24,0.013622,1.0,0.0,0.0,1.0,0.0,1,0,0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,428702.40,0.024303,1.0,0.0,0.0,1.0,0.0,1,0,0

In [51]:
prev_df_merge_final = prev_df.groupby(["SK_ID_CURR"]).agg({'AMT_ANNUITY': ['mean', 'sum', 'min', 'max'],
                                    'AMT_APPLICATION': ['mean', 'sum', 'min', 'max'],
                                    'AMT_CREDIT': ['mean', 'sum', 'min', 'max'],
                                    'AMT_GOODS_PRICE': ['mean', 'sum', 'min', 'max'],

                                    'CNT_PAYMENT': ['mean', 'sum'],
                                    'INTEREST_RATE': ['mean', 'min', 'max'],
                                    'INTEREST': ['mean', 'min', 'max'],
                                    'IS_APPROVED_FLAG': 'count',
                                    'IS_REFUSED_FLAG': 'count',
                                    'IS_CONS_LOAN_FLAG': 'count',
                                    'IS_CASH_LOAN_FLAG': 'count',
                                    'IS_REVOL_LOAN_FLAG': 'count',
                                    'IS_POS_PORTFOLIO_FLAG_COUNT': 'count',
                                    'IS_CASH_PORTFOLIO_FLAG_COUNT': 'count'

})

In [52]:
prev_df_merge_final.columns = ["PREV_" + c[0] + "_" + c[1].upper() for c in prev_df_merge_final.columns.values.tolist()]
prev_df_merge_final

,PREV_AMT_ANNUITY_MEAN,PREV_AMT_ANNUITY_SUM,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_APPLICATION_SUM,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_CREDIT_MEAN,PREV_AMT_CREDIT_SUM,...,PREV_INTEREST_MEAN,PREV_INTEREST_MIN,PREV_INTEREST_MAX,PREV_IS_APPROVED_FLAG_COUNT,PREV_IS_REFUSED_FLAG_COUNT,PREV_IS_CONS_LOAN_FLAG_COUNT,PREV_IS_CASH_LOAN_FLAG_COUNT,PREV_IS_REVOL_LOAN_FLAG_COUNT,PREV_IS_POS_PORTFOLIO_FLAG_COUNT_COUNT,PREV_IS_CASH_PORTFOLIO_FLAG_COUNT_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3951.000000,3951.000,3951.000,3951.000,24835.500,24835.5,24835.5,24835.5,23787.00,23787.0,...,7821.00000,7821.00,7821.00,1,1,1,1,1,1,1
100002,9251.775000,9251.775,9251.775,9251.775,179055.000,179055.0,179055.0,179055.0,179055.00,179055.0,...,42987.60000,42987.60,42987.60,1,1,1,1,1,1,1
100003,56553.990000,169661.970,6737.310,98356.995,435436.500,1306309.5,68809.5,900000.0,484191.00,1452573.0,...,65321.55000,12794.22,144401.94,3,3,3,3,3,3,3
100004,5357.250000,5357.250,5357.250,5357.250,24282.000,24282.0,24282.0,24282.0,20106.00,20106.0,...,1323.00000,1323.00,1323.00,1,1,1,1,1,1,1
100005,4813.200000,4813.200,4813.200,4813.200,22308.750,44617.5,0.0,44617.5,20076.75,40153.5,...,17604.90000,17604.90,17604.90,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,6605.910000,6605.910,6605.910,6605.910,40455.000,40455.0,40455.0,40455.0,40455.00,40455.0,...,12392.28000,12392.28,12392.28,1,1,1,1,1,1,1
456252,10074.465000,10074.465,10074.465,10074.465,57595.500,57595.5,57595.5,57595.5,56821.50,56821.5,...,3625.29000,3625.29,3625.29,1,1,1,1,1,1,1
456253,4770.405000,9540.810,3973.095,5567.715,24162.750,48325.5,19413.0,28912.5,20625.75,41251.5,...,4023.58500,1946.88,6100.29,2,2,2,2,2,2,2
456254,10681.132500,21362.265,2296.440,19065.825,121317.750,242635.5,18846.0,223789.5,134439.75,268879.5,...,34161.93000,10694.16,57629.70,2,2,2,2,2,2,2
456255,20775.391875,166203.135,2250.000,54022.140,362770.875,2902167.0,45000.0,1170000.0,424431.00,3395448.0,...,227265.80625,-45000.00,776319.30,8,8,8,8,8,8,8

In [53]:
prev_df_merge_final.shape

(338857, 31)

In [54]:
prev_df_merge_final.to_csv("data_preprocessed/02_previous_application.csv")